*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(90deg, rgba(128,4,61,1) 1%, rgba(238,0,141,1) 33%, rgba(146,77,254,1) 100%, rgba(76,0,255,1) 100%);
}
.container{
    max-width: 70rem;
    width: 100%;
    background: #fff;
    padding: 20px 20px;
    border-radius: 7px;
    
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 18px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 14px;
    border-bottom-width: 2px;
    transition: all 0.3 ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
form .gender-details .gender-title{
    font-size: 2rem;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #aa7cb99e;
    border-radius: 50%;
    margin-right: 10px;
}
img{
    padding-left: 2px;
    height: 250px;
    
}
.botao{
    margin: 5px;
    padding: 5px;
    background: #c249f2;
    border-radius: 15px;
}
.botao a{
    text-decoration: none;
    color: black;
    transition: all 0.3 ease;
    color: #fff;
}
.botao:hover{
    background: #6d0397;
    height: 35px;
    width: 55px;
    border-radius: 25px;
}
.botao a:hover{
    color: #fff;
}
.botao-3{
    margin: 5px;
    padding: 5px;
    background: #c249f2;
    border-radius: 15px;
}
.botao-3 a{
    text-decoration: none;
    color: black;
    transition: all 0.3 ease;
    color: #fff;
}
.botao-3:hover{
    background: #6d0397;
    height: 35px;
    width: 75px;
    border-radius: 25px;
}
.botao-3 a:hover{
    color: #fff;
}